#login{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 60%;
}

a{
    display: inline;
    text-decoration: none;
}
#error{
    color: red;
    display: none;
}